.photo-style
  margin-top: 10%
  width: 83%

.photo-add
  margin-top: 6%
  width: 90%
  margin-left: 8%

.form-inline.form-control
  width: 240px

.photo-title
  right: 40px

.comments
  padding: 0
  list-style: none
  max-height: 25em
  overflow: auto
  width: 123%
  margin-bottom: 3%

.comment
  margin-bottom: 0.5em

.col-md-8.photo-picture
  margin-top: 1%
  margin-bottom: 1%
  padding-left: 1%
  padding-right: 1%

.col-md-8
  width: 63%

img.image-save-show
  max-width: 70%

.row
  margin-left: 0%
  margin-right: 0%

.album-title
  width: 100%
  text-overflow: ellipsis
  overflow: hidden

.album-descr
  width: 100%
  text-overflow: ellipsis
  overflow: hidden

textarea.form-control
  height: 3em

.form-group
  margin-bottom: 2%
  width: 105%